html, body {
  height: 100%; }

body {
  font-family: 'Droid Sans Mono', monospace;
  position: fixed;
  letter-spacing: 4.2px;
  margin: 0;
  background-color: #fff;
  color: #666666; }
  body header {
    height: 15%; }
    @media screen and (min-width: 1020px) {
      body header {
        height: 20%; } }
  body main {
    height: 85%; }
    @media screen and (min-width: 1020px) {
      body main {
        height: 80%; } }
  body h1, body h2, body h4, body h5, body h6, body p {
    margin: 0; }
  body h1 {
    color: #2CC0B3;
    font-size: 26px; }
    @media screen and (min-width: 374px) and (max-width: 759px) {
      body h1 {
        font-size: 32px; } }
    @media screen and (min-width: 760px) {
      body h1 {
        font-size: 60px; } }
    @media screen and (min-width: 1020px) {
      body h1 {
        font-size: 70px; } }
  body h2 {
    font-size: 12px; }
    @media screen and (min-width: 374px) and (max-width: 759px) {
      body h2 {
        font-size: 14px; } }
    @media screen and (min-width: 760px) {
      body h2 {
        font-size: 30px; } }
  body h4 {
    font-size: 18px; }
    @media screen and (min-width: 374px) and (max-width: 759px) {
      body h4 {
        font-size: 20px; } }
    @media screen and (min-width: 760px) {
      body h4 {
        font-size: 28px; } }
  body h5 {
    font-size: 16px; }
    @media screen and (min-width: 374px) and (max-width: 759px) {
      body h5 {
        font-size: 18px; } }
    @media screen and (min-width: 760px) {
      body h5 {
        font-size: 26px; } }
  body h6 {
    font-size: 16px; }
    @media screen and (min-width: 760px) {
      body h6 {
        font-size: 24px; } }
  body p {
    font-size: 10px; }
    @media screen and (min-width: 760px) {
      body p {
        font-size: 18px; } }

.nav {
  overflow: hidden;
  margin: 10px; }
  .nav .nav-left {
    float: left;
    width: 65%; }
    @media screen and (min-width: 1020px) {
      .nav .nav-left {
        width: 80%; } }
  .nav .nav-right {
    float: right;
    width: 35%;
    text-align: right;
    text-transform: uppercase; }
    @media screen and (min-width: 1020px) {
      .nav .nav-right {
        width: 20%; } }

.project-list {
  list-style-type: none;
  margin: 0;
  padding: 2px 0 0 0; }
  @media screen and (min-width: 374px) and (max-width: 759px) {
    .project-list {
      padding: 5px 0 0 0; } }
  .project-list .list-item {
    width: 100%;
    line-height: 0.8; }
    @media screen and (min-width: 760px) and (max-width: 1019px) {
      .project-list .list-item {
        padding: 6px 0 0 0; } }
    @media screen and (min-width: 1020px) {
      .project-list .list-item {
        line-height: 0.8; } }
    .project-list .list-item .list-counter {
      margin: 0;
      display: none; }
    .project-list .list-item .list-line {
      margin: 3px 0;
      display: inline-block;
      background: #666666;
      height: 2.5px;
      width: 35px; }
      @media screen and (min-width: 760px) {
        .project-list .list-item .list-line {
          width: 60px;
          height: 4px; } }
    .project-list .list-item:hover .list-counter {
      display: inline-block;
      color: #2CC0B3;
      -webkit-animation-name: example;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 10s;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-fill-mode: both;
      animation-name: example;
      animation-duration: 1s;
      animation-fill-mode: both; }
    .project-list .list-item:hover .list-line {
      background: #2CC0B3; }

.main {
  overflow: hidden;
  margin: 10px; }
  @media screen and (min-width: 760px) and (max-width: 1019px) {
    .main {
      margin-top: 50px; } }
  .main .main-body {
    overflow: hidden; }
    .main .main-body .main-left {
      display: none; }
      @media screen and (min-width: 760px) {
        .main .main-body .main-left {
          display: block;
          position: absolute;
          bottom: 0;
          width: 70%; } }
      @media screen and (min-width: 1020px) {
        .main .main-body .main-left {
          width: 50%; } }
      .main .main-body .main-left figure {
        margin: 0;
        text-align: left;
        position: relative; }
        .main .main-body .main-left figure img {
          width: 85%; }
          @media screen and (min-width: 760px) {
            .main .main-body .main-left figure img {
              position: absolute;
              bottom: 0; } }
    .main .main-body .main-right {
      float: left;
      width: 100%; }
      @media screen and (min-width: 1020px) {
        .main .main-body .main-right {
          float: right;
          width: 50%; } }
      .main .main-body .main-right .main-copy {
        padding: 10px 0 30px 0; }
        @media screen and (min-width: 374px) and (max-width: 759px) {
          .main .main-body .main-right .main-copy {
            padding: 10px 0 40px 0; } }
        @media screen and (min-width: 760px) {
          .main .main-body .main-right .main-copy {
            padding: 0 0 50px 0; } }
      .main .main-body .main-right .main-skills {
        width: 90%; }
        @media screen and (min-width: 374px) and (max-width: 759px) {
          .main .main-body .main-right .main-skills {
            width: 70%; } }
        @media screen and (min-width: 1020px) {
          .main .main-body .main-right .main-skills {
            width: 55%; } }
  .main .main-footer {
    overflow: hidden;
    clear: both;
    margin-top: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px; }

.social-list {
  list-style-type: none;
  overflow: hidden;
  float: right;
  margin: 0;
  color: #2CC0B3; }
  .social-list .list-item {
    float: left;
    padding-left: 15px; }
    .social-list .list-item .list-group-item {
      color: inherit; }
      .social-list .list-item .list-group-item i {
        font-size: 1.8rem; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/* Standard syntax */
@keyframes example {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
