@import './variables.scss';

html, body {
  height: 100%;
}

body {
  font-family: 'Droid Sans Mono', monospace;
  position: fixed;
  letter-spacing: 4.2px;
  margin: 0;
  background-color: #fff;
  color: #666666;


  header {
    height: 15%;
    @include desktop {
      height: 20%;
    }
  }

  main {
    height: 85%;
    @include desktop {
      height: 80%;
    }
  }

  h1, h2, h4, h5, h6, p {
    margin: 0;
  }

  h1 {
    color: #2CC0B3;
    font-size: 26px;
    @include mobile-lg {
      font-size: 32px;
    }
    @include tabletDesktop {
      font-size: 60px;
    }
    @include desktop {
      font-size: 70px;
    }
  }
  h2 {
    font-size: 12px;
    @include mobile-lg {
      font-size: 14px;
    }
    @include tabletDesktop {
      font-size: 30px;
    }
  }
  h4 {
    font-size: 16px;
    @include mobile-lg {
      font-size: 20px;
    }
    @include tabletDesktop {
      font-size: 28px;
    }
  }
  h5 {
    font-size: 15px;
    @include mobile-lg {
      font-size: 18px;
    }
    @include tabletDesktop {
      font-size: 26px;
    }
  }
  h6 {
    font-size: 16px;
    // letter-spacing: 4.2px;
    @include tabletDesktop {
      font-size: 24px;
    }
  }
  p {
    font-size: 10px;
    @include tabletDesktop {
      font-size: 18px;
    }
  }
}

.nav {
  overflow: hidden;
  margin: 10px;
  .nav__left {
    float: left;
    width: 65%;
    @include desktop {
      width: 80%;
    }
  }
  .nav__right {
    float: right;
    width: 35%;
    text-align: right;
    text-transform: uppercase;
    @include desktop {
      width: 20%;
    }
  }
}

.project-list {
  list-style-type: none;
  margin: 0;
  padding: 2px 0 0 0;
  @include mobile-lg {
    padding: 5px 0 0 0;
  }
  .project-list__item {
    width: 100%;
    line-height: 0.8;
    @include tablet {
      padding: 6px 0 0 0;
    }
    @include desktop {
      line-height: 0.8;
    }
    .list-counter {
      margin: 0;
      display: none;
    }
    .list-line {
      margin: 3px 0;
      display: inline-block;
      background: #666666;
      height: 2.5px;
      width: 35px;
      @include tabletDesktop {
        width: 60px;
        height: 4px;
      }
    }

    &:hover {
      .list-counter {
        display: inline-block;
        color: #2CC0B3;
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
        -webkit-animation-fill-mode: both;
        animation-name: example;
        animation-duration: 1s;
        animation-fill-mode: both;
      }
      .list-line {
        background: #2CC0B3;
      }
    }
  }
}

.main__container {
  overflow: hidden;
  margin: 10px;
  // margin-top: 30px;
  @include tablet {
    margin-top: 50px;
  }
  .main-body {
    overflow: hidden;
    .main-body__left {
      display: none;
      @include tabletDesktop {
        display: block;
        position: absolute;
        bottom: 0;
        width: 70%;
      };
      @include desktop {
        width: 50%;
      }
      figure {
        margin: 0;
        text-align: left;
        position: relative;
        img {
          width: 85%;
          @include tabletDesktop {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
    .main-body__right {
      float: left;
      width: 100%;
      @include desktop {
        float: right;
        width: 50%;
      };
      .introduction-copy {
        padding: 10px 0 30px 0;
        @include mobile-lg {
          padding: 10px 0 40px 0;
        }
        @include tabletDesktop {
          padding: 0 0 50px 0;
        }
      }
      .skills-list {
        width: 90%;
        @include mobile-lg {
          width: 75%;
        }
        @include tablet {
          width: 100%;
        }
        @include desktop {
          width: 55%;
        }
      }
    }
  }
  .main-footer {
    overflow: hidden;
    clear: both;
    margin-top: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}


.social-list {
  list-style-type: none;
  overflow: hidden;
  float: right;
  margin: 0;
  color: #2CC0B3;
  .social-list__item {
    float: left;
    padding-left: 15px;
    .social-list__item-link {
      color: inherit;
      i {
        font-size: 1.8rem;
      }
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%,0,0);
      transform: translate3d(100%,0,0);}
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

/* Standard syntax */
@keyframes example {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
