$mobile-lg-width: 374px;
$tablet-width: 760px;
$desktop-width: 1020px;

@mixin mobile-lg {
  @media screen and (min-width: #{$mobile-lg-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tabletDesktop {
  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}
